/* @import url("https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@300;400&family=Poppins:wght@500;600;700;800&family=Roboto:ital,wght@0,100;0,300;1,100&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "M PLUS 1", sans-serif;
  background-color: black;
  color: white;
}
.Coin_app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  color: white;
}
.coin_search {
  margin-bottom: 64px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.coin-text {
  text-align: center;
  margin-bottom: 32px;
}
.coin_input {
  padding-left: 16px;
  background-image: linear-gradient(to right, blue, rgb(0, 157, 255));
  border: none;
  height: 40px;
  width: 300px;
  border-radius: 0.5rem;
  color: white;
}
.coin_input::placeholder {
  color: rgb(255, 251, 251);
}
.loading {
  text-align: center;
  margin: 2rem 0;
  font-size: 1.3rem;
}
#loader .sec {
  height: 100px;
  position: relative;
  z-index: 1;
}

.sec span {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: purple;
  border-radius: 50%;
}
